a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

nav {
  word-spacing: 1in;
}

img {
  border-radius: 8px;
}

video {
  width: 100%;
  height: auto;
}

.align {
  display: flex;
  align-items: top;
}

.textstyle {
  width: 100px;
}
